<!--The content below is only a placeholder and can be replaced.-->
<!--<app-header [user_profile]='user_profile'></app-header>-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="isAuthenticated" class="nav-item">
                <a href="javascript:void(0)" class="nav-link" routerLink="/pages/employee-list" routerLinkActive="active">Employee List</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li *ngIf="isAuthenticated" class="nav-item">
                <a href="javascript:void(0)" class="nav-link">Hi, {{ currentUser.username }}</a>
            </li>
            <li *ngIf="isAuthenticated" class="nav-item">
                <a href="javascript:void(0)" class="nav-link" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>



<router-outlet></router-outlet>