<!--The content below is only a placeholder and can be replaced.-->
<!--<app-header [user_profile]='user_profile'></app-header>-->
<div id="header" >
    <div class="navbar navbar-inverse">
        <div class="container container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                   
                </a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li *ngIf="isAuthenticated" class="nav-item">
                    <a href="#" routerLink="/pages/employee-list" routerLinkActive="active">Employee List</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span *ngIf="isAuthenticated">
                      <!-- <i class="icon ic-user"></i> -->
                      Hi, {{ currentUser.username }}
                  </span>
                </a>
              </li>
              <li *ngIf="isAuthenticated">
                <a href="javascript:void(0)" class="" (click)="onLogout()">Logout</a>
              </li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
