<form>
  <div class="form-group row">
    <label class="col-md-4 control-label">Wage</label>
    <div class="col-md-8 input-group">
      {{contract.wage | currency}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4 control-label">Start Date</label>
    <div class="col-md-8 input-group">
      {{contract.start}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4 control-label">End Date</label>
    <div class="col-md-8 input-group">
      {{contract.end}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4 control-label">Work Permit No</label>
    <div class="col-md-8 input-group">
      {{contract.work_permit_no}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4 control-label">Visa No</label>
    <div class="col-md-8 input-group">
      {{contract.visa_no}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-4 control-label">Visa Expire</label>
    <div class="col-md-8 input-group">
      {{contract.visa_expire}}
    </div>
  </div>
</form>