<div style="margin: 0 2rem">
    <div class="row">
      <h4>Employees Detail</h4>
    </div>
    <div class="row">
        <div class="col-6 col-md-4" style="padding-left: 0px">
            <img [src]="imgUrl" class="img-thumbnail">
            <div style="padding-top: .5rem"><h5>{{user.user?.first_name}} {{user.user?.last_name}}</h5></div>
            <div>{{user.user?.email}}</div>
            <span *ngIf="user.active" class="badge badge-success">Active</span>
            <span *ngIf="!user.active" class="badge badge-danger">InActive</span>
        </div>
        <div class="col-12 col-md-8">
            <tabset>
                <tab heading="Information" id="tab1" class="custom_border">
                  <app-info [id]="id"></app-info>
                </tab>
                <tab *ngIf="isAdmin" heading="Work Permit" class="custom_border">
                  <app-contract [id]="id"></app-contract>
                </tab>
              </tabset>
        </div>
    </div>
  </div>