<div class="row" style="margin: 0 2rem">
    <div class="section-header" style="padding-left: 15px;">
      <h4>Employees Detail</h4>
    </div>
    <div>
      <div style="margin-top: 1.5rem">
        <div class="col-md-2">
          <img [src]="imgUrl" class="img-thumbnail">
          <div style="padding-top: .5rem">{{user.user?.first_name}} {{user.user?.last_name}}</div>
          <div>{{user.user?.email}}</div>
          <div *ngIf="user.active" style="color: #268276">Active</div>
          <div *ngIf="!user.active" style="color: #eb643a">InActive</div>
        </div>
        <div class="col-md-10">
          <tabset>
            <tab heading="Information" id="tab1" class="custom_border">
              <app-info [id]="id"></app-info>
            </tab>
            <tab *ngIf="isAdmin" heading="Work Permit" class="custom_border">
              <app-contract [id]="id"></app-contract>
            </tab>
          </tabset>
        </div>
        
      </div>
    </div>
  </div>