<div class="" style="margin: 0 2rem">
  <div class="row">
    <h4>Employees</h4>
  </div>
  <div class="row">
    <app-search [searchText]="searchText" (searchTrigger)="refreshData($event)"></app-search>
  </div>
    <div class="row">
    <app-pager [(newPager)]="pager" [searchText]="searchText" (pageChanged)="refreshData($event)"></app-pager>
  </div>
    <div class="row">
      <table class="table table-cell table-striped table-hover" style="border: 1px solid #ddd;">
        <thead>
          <tr>
            <th>Department</th>
            <th>FullName</th>
            <th>User Name</th>
            <th>Title</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Moblie</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items;let i = index;"
              [attr.data-index]="i"
              (click)="onClick(item.user.id)">
            <td>
              {{item.department?.name}}
            </td>
            <td>
              {{item.user?.first_name}} {{item.user?.last_name}}
            </td>
            <td>
              {{item.user?.username}}
            </td>
            <td>
              {{item.title}}
            </td>
            <td>
              {{item.user?.email}}
            </td>
            <td>
              {{item.phone}}
            </td>
            <td>
              {{item.moblie}}
            </td>
            <td>
              <span *ngIf="item.active" style="color: #268276">Active</span>
              <span *ngIf="!item.active" style="color: #eb643a">InActive </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>