{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Employee</title>
  <base href="/static/dist/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
      <!-- index.html -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="{% static 'dist/styles.bundle.css' %}" rel="stylesheet"/> -->
</head>
<body id="ops">
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="{% static 'dist/runtime.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/polyfills.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/styles.js' %}"></script>
</body>
</html>